:root{
    --background: #FFFFFF;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #FFFFFF;
}

.logo{
    font-family: 'Raleway' , sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

span{
    color: #2e2f42;
}

.list{
    list-style: none;
    font-weight: 500;
}

.first{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.list .first:focus , .list .first:hover{
    color: #404bbf;
}

.info{
    font-style: normal;
}

.info .email{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.info .email:focus , .info .email:hover{
    color: #404bbf;
}

.first-section{
    background-color: #2e2f42;
}

.first-section .business-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.first-section .order-button{
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.first-section .order-button:focus , .first-section .order-button:hover{
    color: #404BBF;
}